
button,div,section,a,table,span{
  font-family: Tahoma, Verdana, sans-serif;
}
body{
  font-family: Tahoma, Verdana, sans-serif;
margin: 0;
padding: 0;

}
.nav-01{
    height: 120px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}
.logo-box{
    height: 110px;
    width: 170px;
   
margin-left: 10px;
margin-top: 10px;
float: left;
}
.nav-01 .logo-box .logo{
    height: 110px;
    width: 110px;
}
.nav-01 .nav-text{
    float: left;
    height: auto;
    width: auto;
    margin-top: 30px;
}

.nav-01 .nav-text span{
    font-size: 1.9rem;  
    text-align: center;
}

/*====== the copy css ========*/


:root {
 
  --light: #c4c4c4;
  --teal: #008080;
}





.typed-text {
  color: var(--teal);
 
}

.cursor {
  display: inline-block;
  width: 3px;
  margin-left: 4px;
  background: var(--teal);
}

.cursor.blink {
  animation: blink 0.8s ease-in-out infinite;
}

@keyframes blink {
  0%, 100% {
    background: var(--teal);
  }
  40%, 50% {
    background: transparent;
  }
}
/* ========= main nav bar and tools======*/

 .main-nav-bar{
    height: 50px;
    width: 100%;
    background-color: #2ea3b8;
    position: sticky;
    top: 0;
    z-index: 100;
}
.menu-opstion{
    display: flex;
    display: block;
}
.btn{
    font-size: 13pt;
    height: 50px;
    padding-right: 15px;
padding-left: 15px;
    background-color: #deffff00;
    color: #ffff;
    cursor: pointer;
    border: none;
    outline: none;
}
.btn:hover{
background-color: white;
color: black;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 230px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 100;
  
  
}
.menu-o1{
    position: relative;
  display: inline-block;
}
.menu-o1:hover .dropdown-content {
    display: block;
  }

.exe{
    height: 50px;
    width: 100%;
    padding-left: 20px;
    padding-right: 60px;
    background-color: #fff;
    background-image: linear-gradient(10deg, #ffffff , #e7e7e7);
    border: none;
    cursor: pointer;
}
.exe:hover{
    
    color: #ff0202;
    background-image: linear-gradient(-10deg, #82cdff , #82cdff);
}

.mobile-menu{
   display: none;
}


/*css casusole */
* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width:  750px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* ul an dli line list system  */
ul {
  list-style-type: none;
  margin: 4px;
  padding: 0;
  font-size: 14pt;
}
li{
  margin: 8px; 
  cursor: pointer;
  color: white;

  transition: all 0.5s;
}
li:hover{
  text-decoration:underline;
  text-decoration-style: wavy; 
  color: rgb(0, 255, 0);
  text-decoration: 0 0 10px yellow;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #ff00dd;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.size{
  height: 400px;
  width: 750px;
}
/*======  footer Css ========*/
.foter{
  height: 100%;
  padding-bottom: 40px;
  width: 100%;
  background-color: #ff00dd;
  background-image: linear-gradient(360deg, #ae00ff, #01b7ff);
}
/* row system */
.row{
height: auto;
width: auto;
  display: flex;
  justify-content: space-evenly;
 
}


/*box system now*/
.box{
  height: 400px;
  width: 280px;
  background-color: rgba(255, 255, 255, 0.226);
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: #fff;
}
/* -- email box --*/
.email{
  height: 60px;
 
 
}
/* email send input */
.email input {

  text-align: center;
  height: 58px;
  width: 60%;
  background-color: #ffffffab;
  border: none;
  outline: none;
  outline-color: none;
  font-size: 16px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  color: rgb(255, 0, 212);
  border-top-left-radius: 10px;
 border-bottom-left-radius: 10px;
}
.email button {
  border-left: 1px solid rgb(255, 0, 0);
  height: 57px;
  width: 100px;
cursor: pointer;
  color: orange;
  background-color: rgba(216, 216, 216, 0);
border-right: 1px solid #ffffffab;
border-top: 1px solid #ffffffab;
border-bottom: 1px solid #ffffffab;
 outline: none;
 outline-color: none;
 border-top-right-radius: 10px;
 border-bottom-right-radius: 10px;
font-size: 16px;
box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.email button:hover{
  background-color: orange;
  color: white;
}
i{
  font-size: 24px;
}
/* copyright box*/
.copy{

  height: auto;
  border-radius: 6px;
}
/* box title*/
#title{
  cursor: zoom-in;
  color: rgb(233, 233, 233);
  font-size: 1.2rem;
}
.mapx{
  width: 95%;
  height: 80%;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 beige;
}
@keyframes  apk{
  0%{width: 0;height: 0;}
  100%{width: 100%;height: 100vh;}
  
}
@keyframes apk1 {
  0%{width: 100%;height: 100vh;}
  100%{width: 280px;height: 400px;}
  
}
.btn-x{
  display: none;
  cursor: zoom-out;;
  top: 2px;
  position: absolute;
  right: 20px;
  box-shadow: 0 0 10px 0 white;
}
.btn-x i{
  font-size: 40px;
  color: rgb(255, 0, 64);
}
.info-box{

  display: block;
  height: 170px;
 width: 90%;
  color: #fff;
  padding-left: 20px;

}
.info-logo{
  cursor: pointer;
 color: white;
  float: left;
  text-decoration: dotted;
}

a:hover{
  text-decoration-line: underline;
  text-decoration-style: wavy;
}


.cl-btn{
display: none;
}
/*=======================The css mobile verson=============*/
@media only screen and (max-width: 600px) {
  /*======  footer Css ========*/
  .copy{
   font-size: 10px;
  }
.foter{
  height: 100%;
  padding-bottom: 50px;
  width: 100%;
  background-color: #ff00dd;
  background-image: linear-gradient(360deg, #ae00ff, #01b7ff);
}
 /* row system */
.row{
  height: auto;
  width: auto;
    display: block;
    justify-content: none;
    
  }
 
  .nav-01{
        height: 90px;
        overflow: scroll;
    }
    .logo-box{
  display: none;
    } 
  .nav-01 .nav-text{
    margin-top: 5px;
  }
    .nav-01 .nav-text span{
        font-size: 1.5rem;  
    }
    
    
.mobile-menu{
    display: block;
 }
 .menu-opstion{
    display: none;
}
.mobile-menu-icon{
    position: absolute;
    top: 5px;
    left: 20px;
}
.mobile{
  display: none;
  height: 100vh;
  width: 100%;
  background-color: red;
  position: absolute;
  top: 0;
 animation: kit 0.5s;
}
@keyframes kit {
  0%{
opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.kit{
  width: 240px;
margin: 10px;
}
.menu-o1{
  margin: 10px;
  background-color: #969696;
  width: 100%;
  text-align: center;
}
.cl-btn{
  display: block;
  position: fixed;
  right: 30px;
  padding-top: 10px;
}
    
  }